<!DOCTYPE HTML>
<html>
	<head>
		<!-- Styles -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet">
		<title><%= title %></title>
		<% puts request.inspect %>
	</head>
	<body>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About Me</a></li>
			<li><a href="/patrons/new">New Patron</a></li>
			<% if patron_show_page? %>
				<li><a href="/patrons/<%= @post.id %>/edit">Edit Patron</a></li>
				<li><%= delete_post_button(@post.id) %></li>
			<% end %>
		</ul>
		<%= yield %>
	</body>
</html>
