<html>
	<head>
		<title><%= title %></title>
		<% puts request.inspect %>
	</head>
	<body>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About Me</a></li>
			<li><a href="/patrons/new">New Patron</a></li>
			<% if post_show_page? %>
				<li><a href="/patrons/<%= @post.id %>/edit">Edit Patron</a></li>
				<li><%= delete_post_button(@post.id) %></li>
			<% end %>
		</ul>
		<%= yield %>
	</body>
</html>
